@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&display=swap');

// Variables
@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import url('http://localhost/webLayouts/plugins/fontawesome-5.14.0-web/css/all.css');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', serif;
}

h1 { font-size: 3.25rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2.25rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1.75rem; }
h6 { font-size: 1.25rem; }

body {
    font-family: 'Montserrat', sans-serif;
    background: $background;
    color: $textcolor;
}

header {
    float: left;
    width: 100%;
    height: 95vh;
    background: url('/webLayouts/Resorts/images/6094.jpg') no-repeat top center;
    background-size: 100%;
    
    .top {
        background: #ffffff30;
        color: #fff;
        font-size: 12px;
    }
    
    .navbar {
        background: transparent;
        
        .navbar-brand {
            font-size: 2.25rem;
            text-shadow: 1px 1px 5px #999;
        }
    }
    
    .welcome {
        color: #fff;
        text-shadow: 1px 1px 5px #999;
        
        a {
            background: transparent;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 25px;
            padding: 1rem;
            margin-top: 15px;
            float: left;
            text-shadow: none;
            
            &:hover {
                text-decoration: none;
                background: #fff;
                color: #999;
                transition: 1s;
            }
        }
    }
}
.firstrow {
    float: left;
    width: 100%;
    text-align: center;
    
    h6 {
        position: relative;
        padding-bottom: 25px;
        
        &:after {
            position: absolute;
            bottom: 15px;
            left: 50%;
            content: '';
            width: 70px;
            height: 1px;
            margin-left: -35px;
            background-color: #000;
        }
    }
}
.secondrow {
    float: left;
    width: 100%;
    
    section {
        display: flex;
        flex-direction: column;
        
        h6 {
            text-transform: uppercase;
            margin: 15px 0;
        }
        
        p {
            flex: 1;
        }
    }
}

.thirdrow {
    float: left;
    width: 100%;
    color: #565656;
    background: #a8d2cd url("/webLayouts/Resorts/images/tree.png") repeat-x bottom;
    background-size: contain;
    
    section {
        display: flex;
        flex-direction: column;
        
        p {
            flex: 1;
        }
    }
    
    h6 {
        text-align: center;
    }
}

.fourthrow {
    float: left;
    width: 100%;
    
    /* The image used */
    background-image: url("/webLayouts/Resorts/images/2628108.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    h3 {
        display: inline-block;
        background: #ffffff47;
    }
}

.sitemap {
    float: left;
    width: 100%;
    color: #989797;
    background: #fee4c4;
    
    h6 {
        color: #333;
        font-weight: bold;
    }
    
    ul {
        
        li {
            display: block;
        }
    }
            
    a {
        color: #989797;

        &:hover {
            color: #333;
        }
    }
}

footer {
    float: left;
    width: 100%;
    background: #f2ba6f;
    font-size: 12px;
    color: #ffffff96;
    
    a {
        color: #ffffff96;
        
        &:hover {
            color: #fff;
        }
    }
}

.main {
    float: left;
    width: 100%;
    background: url("/webLayouts/Resorts/images/tree.png") repeat-x bottom;
}

.aetinymce-content {
    padding: 1rem;
    color: #565656;

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 20px;
        color: #333;
    }

    img {
        float: left;
    }

    a {
        color: #0085d2;
    }

    ul, ol {
        padding-left: 20px;

        li {
            padding-left: 5px;

            a {
                color: #0085d2;
            }
        }
    }

    table {
        width: 100%;
        border: 1px solid #0085d2;
        background: #fff;

        th {
            background: #0085d2;
            color: #fff;
            padding: 10px 20px;
        }

        td {
            border: 1px solid #0085d2;
            padding: 5px 15px;

            a {
                color: #0085d2;
            }
        }
    }
}